/.vs
/CudaPrimes
/CudaPrimes.exe
/CudaPrimes.sln
/CudaPrimes.vcxproj
/CudaPrimes.vcxproj.user
/output_20240719_021057.csv
/output_20240730_044802.csv
/output_20240731_221348.csv
/output_20240801_115631.csv
/primes.py
/primes.txt
/primes1.txt
/primes10.txt
/primes2.txt
/primes3.txt
/primes4.txt
/primes5.txt
/primes6.txt
/primes7.txt
/primes8.txt
/primes9.txt
/primes_program
/primes_program_2
/primes_program_test
/top-primes.txt
/top_primes.txt
/top_top_primes.txt
/x64